{% extends "base.html" %}

{% comment %} create과 거의 유사 {% endcomment %}



{% block content %}
<h1>EDIT</h1>

<form action="{% url "articles:update" article.pk %}" method = "POST" enctype = "multipart/form">
    {% comment %} 포스트 방식 {% endcomment %}
{% csrf_token %}

{{form.as_p}}
{% comment %} form 태그 쓰면 csrf 토큰을 무조건 만들어줘야한다. {% endcomment %}
{% comment %} <div>
    <label for="title">Title : </label>
    <input type="text" name = 'title' id='title' value = {{article.title}}> {% endcomment %}
    {% comment %} value는 초기값. 그래서 이걸 가져와야함  {% endcomment %}
{% comment %} </div>
<div>
    <label for="content">
        Content : 
    </label>
    <textarea name="content" id="content" {{article.content}} cols="30" rows="10"></textarea>
    
</div> {% endcomment %}

{% comment %} 제출버튼 {% endcomment %}
<input type="submit"> 
{% comment %} 이걸 눌러야 데이터가 csrf_token에 전달된다. POST 방식으로 {% endcomment %}

</form>

<hr>

<a href="{% url "articles:index" %}">[back]</a>
{% endblock content %}